/**
 * Tailwind.
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Variables.
 *
 */
:root {
    --vp-c-brand: #0284c7;
    --vp-c-brand-light: #0ea5e9;
    --vp-c-brand-dark: #0284c7;
}

/**
 * General.
 *
 */
.VPNav .title .logo { @apply mr-[15px] }
.VPSidebar .nav .group .VPSidebarGroup { @apply pt-[20px] pb-[6px] }
.VPContent .vp-doc h2 { @apply pt-[35px] mt-[40px] }
.VPContent .vp-doc div[class*='language-'] { @apply my-[22px] }
.VPContent .vp-doc div[class*='language-'] + h3 { @apply mt-[50px] }
.VPContent .vp-doc blockquote { @apply my-6 border-l-4 rounded-r px-6 py-5 bg-orange-100 border-yellow-500 }
.VPContent .vp-doc blockquote p { @apply text-orange-900 }

/**
 * Light Mode.
 *
 */
.VPContent.is-home { @apply flex }
.VPContent.is-home .VPHome { @apply flex flex-col flex-1 pb-[30px] }
.VPContent.is-home .VPHome .VPHomeHero .container .main .text { @apply text-[40px] }
.VPContent.is-home .VPHome .VPHomeHero .container .main .tagline { @apply tracking-[-0.6px] }
.VPContent.is-home .VPHome .VPHomeHero .container .main .action .VPButton { @apply min-w-[130px] rounded px-[15px] py-[10px] leading-none }
.VPContent.is-home .VPHome .VPHomeHero .container .main .action .VPButton.brand { @apply border-transparent bg-sky-600 hover:bg-sky-700 }
.VPContent.is-home .VPHome .VPFeatures .container .items .VPFeature { @apply bg-gray-400/5 }
.VPContent.is-home .VPHome .VPFeatures .container .items .VPFeature .icon { @apply bg-gray-500/5 }
.VPContent.is-home .VPHome .VPFeatures + div { @apply flex justify-center items-end flex-1 pt-[100px] }
.VPContent.is-home .VPHome .VPFooter { @apply text-[12px] text-gray-400 }

/**
 * Dark Mode.
 *
 */
.dark .VPContent.is-home .VPHome .VPFeatures .container .items .VPFeature .icon { @apply bg-gray-100/5 }
.dark .VPContent.is-home .VPHome .VPFooter { @apply text-gray-500 }
.dark .VPContent .vp-doc blockquote { @apply bg-yellow-900/40 border-yellow-700 }
.dark .VPContent .vp-doc blockquote p { @apply text-yellow-500 }