---
---

@import "{{ site.theme }}";

/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Custom Styling */
.page-header { background: #003352; padding: 4rem 6rem }
.page-header h1 { font-size: 2.5rem }
.page-header h2 { font-size: 1.1rem }
.page-header .btn { padding: 0.5rem 1rem; font-size: 15px }
.main-content { padding: 70px 0 50px }
.main-content h1 { font-family: 'Inter'; color: #1a202c; font-size: 30px; margin-bottom: 30px; font-weight: 600 }
.main-content h2 { font-family: 'Inter'; color: #1a202c; font-size: 21px; margin-bottom: 24px; font-weight: 600; letter-spacing: -0.015em }
.main-content h3 { font-family: 'Inter'; color: #1a202c; font-size: 18px; margin-bottom: 20px; font-weight: 500; letter-spacing: -0.015em }
.main-content h4 { font-family: 'Inter'; color: #1a202c; font-size: 17px; margin-bottom: 16px; font-weight: 500; letter-spacing: -0.015em }
.main-content h5 { font-family: 'Inter'; color: #1a202c; font-size: 16px; margin-bottom: 12px; font-weight: 500; letter-spacing: -0.015em }
.main-content h6 { font-family: 'Inter'; color: #1a202c; font-size: 15px; margin-bottom: 12px; font-weight: 500; letter-spacing: -0.015em }
.main-content p { font-family: 'Nunito Sans'; line-height: 1.5; margin-bottom: 24px }
.main-content p + h1 { margin-top: 40px }
.main-content p + h2 { margin-top: 40px }
.main-content p + h3 { margin-top: 40px }
.main-content p + h4 { margin-top: 40px }
.main-content p + h5 { margin-top: 40px }
.main-content p + h6 { margin-top: 40px }
.main-content iframe { margin: 30px 0 }
.main-content li { font-family: 'Nunito Sans'; line-height: 1.5 }
.main-content td { font-family: 'Nunito Sans' }
.main-content code { background-color: #eceff4; color: #384f59 }
.main-content blockquote {  padding: 1.25rem 1.5rem; margin: 1.5rem auto; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;  border-left: solid 3px #ca8a0473; background: #ffedd58c }
.main-content blockquote p { margin-bottom: 0; color: #384f59 }
.main-content blockquote + h1 { margin-top: 48px }
.main-content blockquote + h2 { margin-top: 48px }
.main-content blockquote + h3 { margin-top: 48px }
.main-content blockquote + h4 { margin-top: 48px }
.main-content blockquote + h5 { margin-top: 48px }
.main-content blockquote + h6 { margin-top: 48px }
.site-footer { display: none }